@charset "utf-8";
body {
    background: #100E17;
  
    color:white;
    font-family: 'Overpass', sans-serif;
}

/******************
Grid CSS
*******************/
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.col-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}

/******************
Style option
*******************/
.mg-0{margin: 0 !important;}

/******************
Personal info option
*******************/
.wrap{padding: 3rem;}
.personal-info{
    background: #17141d;
    min-width: 500px;
    min-height: 500px; 
    border-radius: 16px;
    padding: 2rem 4rem;
}
.profile{
    border-radius: 50%;
    /* margin: 12px 10px; */
    filter: none;
    -webkit-filter: none;
}
.profile-section{padding: 0 1rem;}
.profile-img img{
    width: 100%;
    height: auto;
}
.name-tag{font-size: 1.8rem; text-align: center; padding-top: 1rem;}
.info-tag{padding: 1rem;}
/******************
Project option
*******************/

.mini-card-grid {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-overflow-scrolling: touch;
}

.mini-card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
}
.mini-article-card-header {
    margin-bottom: auto;
}
.mini-article-meta {
    font-size: 14px;
}
.mini-card:focus-within, .mini-card:hover {
    -webkit-transform: translate(0,-1rem);
    transform: translate(0,-1rem);
}
.mini-card:focus-within~.mini-card, .mini-card:hover~.mini-card {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}
.mini-card:not(:first-child) {
    margin-left: -130px;
}

.mini-article-byline {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 1.8;
}
a:not(.button):not(.commentPreviewButton):not(.comment-reply-link):focus, a:not(.button):not(.commentPreviewButton):not(.comment-reply-link):hover {
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}
.mini-card h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
}
a {
    color: #fff;
  text-decoration:none;
}
.mini-article-card-header {
    margin-bottom: auto;
}
.mini-article-meta .author-avatar img {
    width: 40px;
    height: 40px;
}
.author-avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 12px 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.mini-article-meta .author-avatar .half-circle {
    width: 60px;
    height: 48px;
}
.mini-article-byline .author-avatar, .mini-article-byline .author-name-area {
    grid-area: auto;
}
.author-avatar {
    grid-area: avatar;
    -ms-flex-item-align: start;
    align-self: start;
    position: relative;
}
.author-avatar .half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 56px;
    fill: none;
    stroke: url(#orange-to-pink);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
.mini-article-subhead {
    font-size: 14px;
  color:White;
    margin: 0 0 1rem;
}
time {
    color: #7a7a8c;
}












